#These files shouldn't be tracked by git
*.o
*.log
*.trs
*.deps
*.dirstamp
config.h
config.guess
config.status
config.sub
*.in
*~
Makefile
aclocal.m4
autom4te.cache/
compile
configure
csteptest
depcomp
install-sh
libtool
lookahead
ltmain.sh
m4/
missing
mrgradtest
residual
ridgerunner
rownumcvctest
strutgradtest
strutplot
test-driver
test/TAGS
src/TAGS
tools/TAGS